extends layout

block content
  //- script.
  //-   var config = {
  //-     type: Phaser.AUTO,
  //-     width: 200,
  //-     height: 400,
  //-     backgroundColor: '#99ccff',
  //-     scene: {
  //-       preload: preload,
  //-       create: create,
  //-       update: update
  //-     }
  //-   }

  //-   var game = new Phaser.Game(config);

  //-   function preload() {

  //-   }
  //-   function create() {
  //-     var box = new Phaser.Geom.Rectangle(0, 0, 50, 50);
  //-     var graphics = this.add.graphics();
  //-     graphics.fillStyle('0xff6600',1);
  //-     graphics.fillRectShape(box);
  //-   }
  //-   function update() {

  //-   }
  script(src='/javascripts/tetris.core.js')
